body {
    background-color: rgba(239, 203, 175, 0.279);
}

nav,
footer {
    background-color: rgba(205, 7, 7, 0.564);
}

footer {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

section {
    margin-top: 4.7rem;
    margin-bottom: 4.7rem;
}