{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% comment %}
# Set the Title for the page
{% endcomment %}
{% block page_title %}
  Login page
{% endblock page_title %}

{% comment %}
# Set the CSS file and Other for the page
{% endcomment %}
{% block extra_head %}
{% endblock %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}

{% block content %}
<div class="container my-5">
    <!-- Sign In Header -->
    <h1 class="text-center text-primary mb-4">{% trans "Sign In" %}</h1>

    {% if not SOCIALACCOUNT_ONLY %}
    <!-- Registration Redirect -->
    <p class="text-center">
        {% blocktranslate %}If you have not created an account yet, then please 
        <a href="{{ signup_url }}" class="text-primary">register</a> first.{% endblocktranslate %}
    </p>

    <!-- Sign In Form -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'account_login' %}" method="post" class="card shadow-lg p-4">
                {% csrf_token %}
                <h4 class="card-title text-center mb-3">{% trans "Sign In" %}</h4>
                
                <!-- Form Fields -->
                <div class="card-body">
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                </div>

                <!-- Submit Button -->
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-lg w-100">
                        {% trans "Sign In" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
    <!-- Alternative Login Methods -->
    <hr class="my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if PASSKEY_LOGIN_ENABLED %}
            <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-outline-primary btn-lg w-100 mb-2">
                {% trans "Sign in with a passkey" %}
            </button>
            {% endif %}

            {% if LOGIN_BY_CODE_ENABLED %}
            <a href="{{ request_login_code_url }}" class="btn btn-outline-primary btn-lg w-100">
                {% trans "Mail me a sign-in code" %}
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
    <!-- Social Login Options -->
    <hr class="my-4">
    <div class="text-center">
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
    {% endif %}
</div>
{% endblock content %}

{# Ends the 'content' block. #}


{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
    {# This starts a block named 'extra_body'. This block can be extended or overridden in templates that inherit from the current one. #}

    {{ block.super }}
    {# This includes the content of the parent template's 'extra_body' block, ensuring that anything defined in the parent template is preserved. #}
    {# Using `block.super` ensures that whatever is in the block 'extra_body' of the parent template will still be rendered alongside the content here. #}

    {% if PASSKEY_LOGIN_ENABLED %}
        {# This checks if the `PASSKEY_LOGIN_ENABLED` variable is set to `True`. #} 
        {# If it is, the following code (to include a script for WebAuthn passkey login) will be executed. #}

        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
        {# This includes the content of the file located at "mfa/webauthn/snippets/login_script.html". #}
        {# This snippet is most likely a JavaScript file that handles WebAuthn (Web Authentication) login functionality, such as enabling passkey-based login.#}
        {# The `with` statement passes the variable `button_id="passkey_login"` into the included snippet, which allows the script to identify the correct button on the page for triggering the WebAuthn flow. #}
        {# In this case, the button with the `id="passkey_login"` will be the trigger for passkey login. #}
    {% endif %}
    {# Ends the conditional statement. If `PASSKEY_LOGIN_ENABLED` is False or not defined, the script will not be included. #}

{% endblock %}
{# Ends the 'extra_body' block. #}
