{% extends 'base.html' %}
{% load static %}

{% comment %}
# Set the Title for the page
{% endcomment %}
{% block head_title %}
  My profile
{% endblock %}

{% comment %}
# Set the CSS file and Other for the page
{% endcomment %}
{% block extra_head %}
{% endblock %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
    <h1>Profile of {{ user.username }}</h1>

    <hr>

    

    <h2>Profile Details</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Role:</strong> {{ user.get_role_display }}</p>

    <h3>Profile Information:</h3>
    <p><strong>Full Name:</strong> {{ user.profile.user_name }}</p>
    <p><strong>Country:</strong> {{ user.profile.country }}</p>
    <p><strong>City:</strong> {{ user.profile.city }}</p>
    <p><strong>Address:</strong> {{ user.profile.address }}</p>
    <p><strong>Postcode:</strong> {{ user.profile.postal_code }}</p>
    <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
    <p><strong>Biography:</strong> {{ user.profile.bio }}</p>
    <p><strong>Website:</strong> <a href="{{ user.profile.website }}" target="_blank">{{ user.profile.website }}</a></p>

    <a href="{% url "users:edit_profile" %}">Edit</a>
{% endblock %}
{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
{% endblock %}
