{% extends 'base.html' %}
{% load static %}

{% comment %}
# Set the Title for the page
{% endcomment %}
{% block page_title %}
  {{user.username}}'s Dashboard
{% endblock page_title %}

{% comment %}
# Set the CSS file and Other for the page
{% endcomment %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock extra_head%}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {# Sidebar for Navigation Links #}
        <nav class="col-md-2 d-none d-md-block bg-light sidebar sticky-top">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {# Active Dashboard Link #}
                    <li class="nav-item">
                        <a class="nav-link active" href="#dashboard">
                            <i class="fas fa-home"></i> Dashboard
                        </a>
                    </li>
                    {% if user.role == "BUY" %}
                        {# Link for Buyers to View Their Orders #}
                        <li class="nav-item">
                            <a class="nav-link" href="#recentOrdersTable">My Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#spendingSummary">Spending Summary</a>
                        </li>
                    {% elif user.role == "SUP" %}
                        {# Links for Suppliers to View Received Orders and Manage Products #}
                        <li class="nav-item">
                            <a class="nav-link" href="#ordersTable">Received Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#salesSummary">Sales Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#productsTable">Manage Products</a>
                        </li>
                    {% endif %}
                    {# Links for Account Settings and Support, accessible by both roles #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:not_available' %}">Account Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:not_available' %}">Support</a>
                    </li>
                </ul>
            </div>
        </nav>


        {# Main Content Area of the Dashboard #}
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 class="h2" id="dashboard">Dashboard</h1>
            <hr>

            {# Dashboard Content for Buyers #}
            {% if user.role == "BUY" %}
            <h3 id="recentOrdersTable">Recent Orders</h3>

            {# Orders Table: Checks if the user has any orders placed, else shows info message #}
            {% if orders.exists %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Supplier</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# Loop Through Each Order for the Buyer #}
                            {% for order in orders %}
                            <tr class="recent-order-row {% if forloop.counter > 20 %}d-none{% endif %}">
                                <td>{{ order.id }}</td>
                                {# Supplier's username shown for each order #}
                                <td>{{ order.seller.username }}</td>
                                <td>{{ order.status }}</td>
                                <td>${{ order.total_price }}</td>
                                {# Link to View Details of Each Order #}
                                <td><a href="{% url 'orders:order_details' order.id %}" class="btn btn-info btn-sm">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
                {# Button to Show More Orders #}
                <div class="text-center mt-3">
                    <button id="loadMore" class="btn btn-primary">Load More</button>
                </div>
            
            {% else %}
                {# Message shown if no orders have been placed by the buyer #}
                <div class="alert alert-info" role="alert">
                    You have not placed any orders yet. <a href="{% url 'products:all' %}" class="alert-link">Start shopping now!</a>
                </div>
            {% endif %}

                {# Section for Spending Summary (Placeholder Chart) #}
                {% if orders.exists %}
                <h3 id="spendingSummary">Spending Summary</h3>
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center">
                            <h4>Monthly Summary</h4>
                            <canvas class="w-75 h-auto" id="buyerSpendingChart"></canvas>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <canvas class="w-75 h-auto" id="transactionStatusChart"></canvas>
                            <h4 id="transactionStatus">Transaction Status Summary</h4>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>No spending data available yet. Start placing orders to see your spending summary.</p>
                {% endif %}
            {% endif %}

            {# Dashboard Content for Suppliers #}
            {% if user.role == "SUP" %}
            <h3 id="ordersTable">Orders Received</h3>

            {# Orders Table for Suppliers: Checks if any orders have been received by the supplier #}
            {% if received_orders.exists %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Buyer</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>Action</th>
                                <th>Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# Loop Through Each Received Order for the Supplier #}
                            {% for order in received_orders %}
                            <tr class="order-row {% if forloop.counter > 20 %}d-none{% endif %}">
                                <td>{{ order.id }}</td>
                                <td>{{ order.buyer.username }}</td>
                                <td>{{ order.status }}</td>
                                <td>${{ order.total_price }}</td>
                                <td>
                                    <select name="status-update-for-{{ order.id }}" id="actions-status-for-{{ order.id }}" onchange="updateStatusURL({{ order.id }})" {% if order.status == "completed" or order.status == "cancelled" %}disabled{% endif %}>
                                        <option value="pending" {% if order.status == "pending" %}selected{% endif %}>Pending</option>
                                        <option value="processing" {% if order.status == "processing" %}selected{% endif %}>Processing</option>
                                        <option value="shipped" {% if order.status == "shipped" %}selected{% endif %}>Shipped</option>
                                        <option value="delivered" {% if order.status == "delivered" %}selected{% endif %}>Delivered</option>
                                        <option value="cancelled" {% if order.status == "cancelled" %}selected{% endif %}>Cancelled</option>
                                        <option value="completed" {% if order.status == "completed" %}selected{% endif %}>Completed</option>
                                    </select>
                                    {% if order.status != "completed" and order.status != "cancelled" %}
                                        <a href="#" data-url="{% url 'orders:update_order' order.id 'NEWSTATUS' %}" id="update-button-{{ order.id }}" class="btn btn-success btn-sm update-status">Update Status</a>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'orders:sup_order_details' order.id %}" class="btn btn-info btn-sm">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
                {# Button to Show More Orders #}
                <div class="text-center mt-3">
                    <button id="loadMore" class="btn btn-primary">Load More</button>
                </div>
            
            {% else %}
                {# Message shown if no orders have been received by the supplier #}
                <div class="alert alert-info" role="alert">
                    No orders received yet. <a href="{% url 'main:not_available' %}" class="alert-link">Promote your products to get more orders!</a>
                </div>
            {% endif %}
                {# Section for Sales Summary (Placeholder Chart) #}
                {% if received_orders.exists %}
                <h3 id="salesSummary">Sales Summary</h3>
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center">
                            <h4>Monthly Summary</h4>
                            <canvas class="w-75 h-auto" id="supplierSalesChart"></canvas>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <canvas class="w-75 h-auto" id="transactionStatusChart"></canvas>
                            <h4 id="transactionStatus">Transaction Status Summary</h4>
                        </div>
                    </div>
                </div>
                    
                {% else %}
                    <p>No sales data available yet. Once you receive orders, your sales summary will be displayed here.</p>
                {% endif %}

                {# Manage Products Section for Suppliers #}
                <h3 id="productsTable">Manage Products</h3>

                {# Product Listing: Checks if the supplier has any products, else shows info message #}
                {% if products.exists %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Per Unit</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Loop Through Each Product for the Supplier #}
                                {% for product in products %}
                                <tr>
                                    <td>
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'imgs/no-img-av.webp' %}{% endif %}" 
                                            alt="{{ product.name }}" class="img-thumbnail" style="width: 60px; height: auto;">
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.description|truncatechars:50 }}</td>
                                    <td>${{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.pieces_per_unit }}</td>
                                    <td>
                                        <a href="{% url 'products:create' product.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="{% url 'products:delete' product.id %}" class="btn btn-sm btn-warning">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {# Message shown if no products are available for the supplier #}
                    <div class="alert alert-info" role="alert">
                        No products available. <a href="{% url 'products:create' %}" class="alert-link">Add your first product now!</a>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
 To the bottom of the body tag 
{% endcomment %}
{% block extra_body %}
<script>
    window.userConfig = {
        userRole : '{{ user.role }}' // Pasado desde Django

    };
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
{% endblock extra_body %}
