{% extends "base.html" %}
{% load static %}

{% comment %}
 Set the name of the page 
{% endcomment %}
{% block page_title %}
Product Creation for {{ user.username}}
{% endblock page_title %}

{% comment %}
 Inject extra links into the page header
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}


{% comment %}
 CSS tag injection 
{% endcomment %}
{% block css_inpage %}
{% endblock css_inpage %}

{% comment %}
 Inject HTML for the content 
{% endcomment %}
{% block content %}

<div class="container my-3">
  <h2>Product Creation for {{ user.username }}</h2>
  {# ACTION is conditional and "enctype="multipart/form-data" needed for images and files management #}
  <div class="row">
    {# Product creation/edit Form #}
    <div class="col-md-8 text-center">
      <form method="post" action="{% if product %}{% url 'products:create' product.id %}{% else %}{% url 'products:create' %}{% endif %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ prod_form.as_p }}
        <button type="submit">{% if product %} Update Product {% else %} Create Product {% endif %}</button>
      </form>
    </div>
    {# Display de card of the user #}
    <div class="col-md-4 card text-center d-none d-md-block">
      <div class="sticky-top">
        <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'imgs/no-img-av.webp' %}{% endif %}" class="rounded-circle img-fluid my-3 mb-4 mx-auto" alt="Profile Picture" width="150" height="150">
        <h1>{{ user.username }}</h1>
        <p class="text-muted mb-3">{{ user.email }}</p>
      </div>
    </div>
    
    
  </div>

  
</div>

  
{% endblock content %}

{% comment %}
 To the bottom of the body tag 
{% endcomment %}
{% block extra_body %}
{% endblock extra_body %}


{% comment %}
 JS tag injection 
{% endcomment %}
{% block js_inpage %}
{% endblock js_inpage %}