{% extends "base.html" %}
{% load static %}

{% comment %}
 Set the name of the page 
{% endcomment %}
{% block page_title %}
{{ product.name}} details
{% endblock page_title %}

{% comment %}
 Inject extra links into the page header
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}


{% comment %}
 CSS tag injection 
{% endcomment %}
{% block css_inpage %}
{% endblock css_inpage %}

{% comment %}
 Inject HTML for the content 
{% endcomment %}
{% block content %}
<div class="container mt-4">
    <!-- Product Title -->
    <h1 class="text-center mb-4">{{ product.name }}</h1>

    <!-- Product Details Row -->
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6 mb-4">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}/static/imgs/no-img-av.webp{% endif %}" class="img-fluid border rounded shadow-sm" alt="{{ product.name }}">
        </div>

        <!-- Product Information -->
        <div class="col-md-6">
            <div class="card p-4 border-light shadow-sm">
                <h2 class="mb-3">Product Details</h2>

                <!-- Supplier -->
                <p class="mb-2"><strong>Supplier:</strong><a href="{% url 'users:user_profile' product.seller_id.id %}">{{ product.seller_id }}</a></p>

                <!-- Price -->
                <p class="mb-2"><strong>Price:</strong> <span class="text-success">${{ product.price }}</span></p>

                <!-- Available Quantity -->
                <p class="mb-2"><strong>Available Quantity:</strong> {{ product.quantity }}</p>

                <!-- Pieces per unit -->
                <p class="mb-2"><strong>Units: </strong>1x {{ product.pieces_per_unit }}</p>
                
                <!-- Description -->
                <p class="mb-2"><strong>Description:</strong></p>
                <p class="white-space mb-2">{{ product.description }}</p>

                <!-- Category -->
                <p class="mb-2"><strong>Category:</strong> {{ product.category_id }}</p>

                <!-- Rating -->
                <p class="mb-4"><strong>Rating:</strong> 
                    <span class="badge text-bg-warning">{{ product.rating }} <i class="bi bi-star-fill"></i></span>
                </p>

                {% if user.role != 'BUY' %}
                <!-- Only for BUYERS Message -->
                <div class="alert alert-danger text-center" role="alert">
                    Products can be purchased only for BUYERS
                </div>

                <!-- Disabled Button -->
                <div class="mb-3">
                    <button class="btn btn-secondary btn-lg w-100" disabled>
                        <i class="bi bi-cart-x-fill"></i> BUYERS only
                    </button>
                </div>

                {% elif product.quantity > 0 %}
                <!-- Select Quantity -->
                <div class="mb-3">
                    <label for="quantity" class="form-label">Select Quantity:</label>
                    <input type="number" name="quantity" id="quantity" class="form-control w-25 d-inline" min="1" max="{{ product.quantity }}" value="1">
                </div>

                <!-- Add to Basket Button -->
                <div class="mb-3">
                    <a data-base-url="{% url 'products:add-cart' product.id 1 %}" href="{% url 'products:add-cart' product.id 1 %}" id="addToCartBtn" class="btn btn-primary btn-lg w-100">
                        <i class="bi bi-cart-plus-fill"></i> Add to basket
                    </a>
                </div>

                {% else %}
                <!-- Out of Stock Message -->
                <div class="alert alert-danger text-center" role="alert">
                    This product is out of stock.
                </div>

                <!-- Disabled Button -->
                <div class="mb-3">
                    <button class="btn btn-secondary btn-lg w-100" disabled>
                        <i class="bi bi-cart-x-fill"></i> Out of Stock
                    </button>
                </div>
                {% endif %}

                <!-- Back to Product List Button -->
                <a href="{% url 'products:all' %}" class="btn btn-outline-secondary btn-lg">
                    <i class="bi bi-arrow-left-circle-fill"></i> Back to Product List
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
 To the bottom of the body tag 
{% endcomment %}
{% block extra_body %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock extra_body %}


{% comment %}
 JS tag injection 
{% endcomment %}
{% block js_inpage %}
{% comment %} document.getElementById('quantity').addEventListener('input', function() {
    // Gets the selected Quantity
    var quantity = document.getElementById('quantity').value;
    
    // Update the data-base-url with the new quantity
    var addToCartBtn = document.getElementById('addToCartBtn');
    var baseUrl = addToCartBtn.getAttribute('data-base-url');
    addToCartBtn.href = baseUrl.replace(/1$/, quantity);
}); {% endcomment %}
{% endblock js_inpage %}